# Configuration InfluxDB
INFLUX_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXXX
INFLUX_ORG=bg_soft
INFLUX_BUCKET=fan_telemetry

# Configuration Grafana
GF_SECURITY_ADMIN_PASSWORD=XXXXXXXX

# Configuration ThingsBoard
THINGSBOARD_GATEWAY_TOKEN=